.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    background-color: #333;
    color: white;
}

.NavBar-left {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.NavBar-right {
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    margin-top: 0.5rem;
    margin-right: 6rem;
    flex-direction: row;
}

.cart-info {
    margin-left: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    font-size: 0.8rem;
}

.Amount{
   display: flex;
}

.Price{
    display: flex;
}
